<!DOCTYPE html>
<html>
<head>
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
          integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" rel="stylesheet">
    <link href="{{url_for('static', filename='main.css')}}" rel="stylesheet">
    <title>
        {% if title %}
        Flask Blog - {{title}}
        {% else %}
        Flask Blog
        {% endif %}
    </title>
</head>
<header class="site-header">
    <nav class="navbar navbar-expand-lg navbar-dark bg-steel fixed-top">
        <div class="container-fluid gx-5">

            <a class="navbar-brand" href="{{ url_for('main.home') }}">Blogosphere</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    {% if current_user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('posts.new_post')}}"> Add Post </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('users.account')}}">Account </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('users.logout')}}">Logout </a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('users.login')}}">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-item nav-link" href="{{ url_for('users.register')}}">Register</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>


</header>

<main class="container-fluid " role="main">
    <div class="row">
        <div class="col-md-9 gx-5">
            <!-- with_categories - allows us to grab success param from run.py -->
            {% with messages = get_flashed_messages(with_categories=True)%}
            {% if messages %}
            {% for cat, mess in messages%}
            <div class="alert alert-{{ cat }}">
                {{ mess }}
            </div>
            {% endfor %}
            {% endif%}
            {% endwith %}
            {% block content %}{% endblock %}
        </div>
        <div class="col-md-3 gx-5">
            <div class="content-section">
                <h3>Our Sidebar</h3>
                <p class='text-muted'>Latest happenings in our community
                <ul class="list-group">
                    <li class="list-group-item list-group-item-light">Latest Posts</li>
                    <li class="list-group-item list-group-item-light">Announcements</li>
                    <li class="list-group-item list-group-item-light">Calendars</li>
                </ul>
                </p>
            </div>
        </div>
    </div>
</main>

<body>
<script crossorigin="anonymous"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>