{% extends "layout.html" %}
{% block content %}
<article class="content-section">
    <div class="row">
        <div class='col-sm-4 col-lg-2'>
            <img class="rounded-circle article-img align-items-start mt-2"
                 src="{{ url_for('static', filename='profile_pics/' + post.author.image_file) }}">
        </div>
        <div class='col-sm-8 col-lg-9'>
            <div class="media-body">
                <div class="article-metadata">
                    <a class="mr-2">{{ post.author.username }}</a>
                    <small class="text-muted">{{ post.time.strftime('%Y-%m-%d') }}</small>
                    {% if post.author == current_user %}
                    <div class="mt-2 mb-2">
                        <a class="btn btn-primary" href="{{url_for('update_post', post_id = post.id)}}">Update</a>
                        <!-- Button trigger modal -->
                        <button class="btn btn-danger" data-bs-target="#DeleteConfirmModal" data-bs-toggle="modal"
                                href="#" type="button">Delete</button>
                    </div>

                    <!-- Modal -->
                    <div aria-hidden="true" aria-labelledby="DeleteConfirmModalLabel" class="modal fade" id="DeleteConfirmModal"
                         tabindex="-1">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="DeleteConfirmModalLabel">Delete Post?</h5>
                                    <button aria-label="Close" class="btn-close" data-bs-dismiss="modal"
                                            type="button"></button>
                                </div>
                                <div class="modal-body">
                                    Once deleted, this action cannot be undone!!!
                                </div>
                                <div class="modal-footer">
                                    <button class="btn btn-secondary" data-bs-dismiss="modal" type="button">Close</button>
                                    <!-- Delete the post call -->
                                    <form action="{{url_for('delete_post', post_id = post.id)}}" method="POST">
                                        <input class="btn btn-danger" type="submit" value="Delete"> 
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                </div>
                <h2 class="article-title">{{ post.title }}</a></h2>
                <p class="article-content">{{ post.content }}</p>
            </div>
        </div>
    </div>
</article>
{% endblock content %}